

<div class="table-wrapper">
  <table class="boats sortable">
    <caption>End of list</caption>
    <thead>
      <tr>
        {% for col in column_list %}
          <th data-col-index="{{ forloop.counter0 }}">{{ col.label }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
            {% include row_partial with obj=obj %}
      {% empty %}
        <tr><td colspan="{{ column_list|length }}">No entries found.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
