{# templates/lists/traffic/_form_fields.html #}

<!-- Commented the form to not appear on the page -- Uncomment to show it -->

<!--<div class="field-group">-->
<!--  {{ form.boatType.label_tag }} {{ form.boatType }}-->
<!--</div>-->
<!--<div class="field-group">-->
<!--  {{ form.name.label_tag }} {{ form.name }}-->
<!--</div>-->
<!--<div class="field-group"  id="date-fields" >-->
<!--  {{ form.trDate.label_tag }} {{ form.trDate }}-->
<!--</div>-->
<!--<div class="field-group" id="time-fields">-->
<!--  {{ form.trTime.label_tag }} {{ form.trTime }}-->
<!--</div>-->
<!--<div class="field-group">-->
<!--  {{ form.direction.label_tag }} {{ form.direction }}-->
<!--</div>-->
<!--<div class="field-group">-->
<!--  {{ form.passengers.label_tag }} {{ form.passengers }}-->
<!--</div>-->
<!--<div class="field-group">-->
<!--  {{ form.purpose.label_tag }} {{ form.purpose }}-->
<!--</div>-->
<!--<div class="field-group">-->
<!--  {{ form.edr.label_tag }} {{ form.edr }}-->
<!--</div>-->
<!--<div class="field-group">-->
<!--  {{ form.etr.label_tag }} {{ form.etr }}-->
<!--</div>-->
<!--<div class="field-group">-->
<!--  {{ form.trComments.label_tag }} {{ form.trComments }}-->
<!--</div>-->
<!--<div class="field-group">-->
<!--  {{ form.berth.label_tag }} {{ form.berth }}-->
<!--</div>-->